@import "../../MainSass/MainSass";

.show_movie
{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5 , 16vw);
  grid-template-rows: repeat(2 , 26vw) ;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;

}



.cards
{
  @include flex(column , space-between , flex-start);
  width: 100%;

  transition: .1s ease-in;
  cursor: pointer;

  &:hover
  {
    transform: scale(1.05);
  }

  .image
  {
    width: 16vw;
    height: 23vw;
    margin: .5vw 0;
  }
  .title
  {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: {size: 1vw ; weight: bold};
    color: whitesmoke;
  }
  .year
  {
    width: 60%;
    font-size: .85vw;
    color: #bdbcbc;
  }

}

.movie
{

  @include flex(column , center , center);


}