@import "../MainSass/MainSass";

.parent
{
  width: 100%;

  background-color: #2d2d3b;

  .select_type
  {
    @include flex(row , space-around , center);
    margin: auto;
    width: 85%;
    height: 5vw;

    .result
    {
      @include flex(row , flex-start , center);
      flex: 4;
      color: #e3e2e2;
    }

    .chose
    {
      @include flex(row , flex-end , center);
      flex: 4;
      cursor: pointer;

      p
      {
        @include flex();
        width: 8vw;
        height: 1.5vw;
        background-color: #6c6c6c;
        border-radius: 1vw;
        margin: 0 .5vw;
        font : {size: 1vw}
        color: #e3e2e2;
      }
    }


  }
}